<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.restaurant.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.Register</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>CustomerReservationServlet</servlet-name>
  	<display-name>CustomerReservationServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.CustomerReservationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReservationServlet</servlet-name>
  	<display-name>ReservationServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.ReservationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerReservationServelet</servlet-name>
  	<display-name>CustomerReservationServelet</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.CustomerReservationServelet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderServlet</servlet-name>
  	<display-name>OrderServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.OrderServlet</servlet-class>
  </servlet>
  
  
  <servlet>
  	<servlet-name>ContactServlet</servlet-name>
  	<display-name>ContactServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.ContactServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContactUsServlet</servlet-name>
  	<display-name>ContactUsServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.ContactUsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>signupServlet</servlet-name>
  	<display-name>signupServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.signupServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignupServlet</servlet-name>
  	<display-name>SignupServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.SignupServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.LoginServlet</servlet-class>
  </servlet>
  
  
 
  <servlet-mapping>
  	<servlet-name>CustomerReservationServlet</servlet-name>
  	<url-pattern>/CustomerReservationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReservationServlet</servlet-name>
  	<url-pattern>/ReservationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerReservationServelet</servlet-name>
  	<url-pattern>/CustomerReservationServelet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderServlet</servlet-name>
  	<url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
    
  <servlet-mapping>
  	<servlet-name>ContactServlet</servlet-name>
  	<url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactUsServlet</servlet-name>
  	<url-pattern>/ContactUsServlet</url-pattern>
  </servlet-mapping>
  
 
  <servlet-mapping>
  	<servlet-name>SignupServlet</servlet-name>
  	<url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  
</web-app>
